POSTGRES_DB=babystar
POSTGRES_USER=babystar
POSTGRES_PASSWORD=change-me
APP_PORT=9000
WEB_ORIGIN=http://localhost:9000
SESSION_SECURE=false
GOOGLE_CLIENT_ID=
GEOAPIFY_API_KEY=
GEMINI_API_KEY=
GEMINI_API_KEY_WEEKLY_ADVICE=
GEMINI_API_KEY_NUTRITION_SUGGESTIONS=
GEMINI_API_KEY_EXERCISE_SUGGESTIONS=
GEMINI_API_KEY_QUIZ=

